@media (max-width: 768px) {
  th,
  td {
    font-size: 0.75rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  th,
  td {
    font-size: 0.875rem;
  }
}

@media (min-width: 1025px) {
  th,
  td {
    font-size: 1rem;
  }
}
